@{
    ViewData["Title"] = "Tạo hóa đơn";
}
<h1>@ViewData["Title"]</h1>

<form class="row" method="post">

    <div class="col-md-6">
        <label for="InvoiceCustomerName">Tên khách hàng:</label>
        <input type="text" id="InvoiceCustomerName" name="InvoiceCustomerName" class="form-control" />
    </div>

    <div class="col-md-6">
        <label for="InvoiceCustomerAddress">Địa chỉ:</label>
        <input type="text" id="InvoiceCustomerAddress" name="InvoiceCustomerAddress" class="form-control" />
    </div>

    <div class="col-md-6">
        <label for="InvoiceCustomerPhone">Số điện thoại:</label>
        <input type="text" id="InvoiceCustomerPhone" name="InvoiceCustomerPhone" class="form-control" />
    </div>

    <div class="mt-3 col-md-12">
        <button type="submit" class="btn btn-primary" formaction="Create">Tạo</button>
    </div>
</form>