@{
    ViewData["Title"] = "Create Category";

}
<h1>@ViewData["Title"]</h1>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>List Category</h2>
<div>
    <form method="post" action="Create">
        <label for="productCode">Mã loại hàng:</label><br>
        <input type="text" id="categoryCode" name="categoryCode"><br>

        <label for="productName">Tên loại hàng: </label><br>
        <input type="text" id="categoryName" name="categoryName"><br>

        <input type="submit" value="Create">
    </form>
</div>