@{
    ViewData["Title"] = "Thêm mặt loại hàng";
}
<h1>@ViewData["Title"]</h1>

@*https://getbootstrap.com/docs/5.0/forms/layout/*@
<form class="row" method="post" action="CreateCategory">

    <div class="col-md-6">
        <label for="categoryName" class="form-label">Tên loại hàng:</label>
        <input type="text" id="categoryName" name="categoryName" class="form-control">
    </div>

    <div class="mt-3 col-md-12">
        <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
</form>