@{
    ViewData["Title"] = "Create Invoice";

}
<h1>@ViewData["Title"]</h1>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>List Invoice</h2>
<div>
    <form method="post" action="Create">
        <label for="invoiceCode">Mã hóa đơn:</label><br>
        <input type="text" id="invoiceCode" name="invoiceCode"><br>

        <label for="invoiceCreateDate">Ngày tạo hóa đơn: </label><br>
        <input type="text" id="invoiceCreateDate" name="invoiceCreateDate"><br>

        <input type="submit" value="Create">
    </form>
</div>