@{
    ViewData["Title"] = "Thêm mặt hàng";
    Category[] categories = ViewBag.CategoryList;
}
<h1>@ViewData["Title"]</h1>

@*https://getbootstrap.com/docs/5.0/forms/layout/*@
<form class="row" method="post" action="CreateProduct">

    <div class="col-md-6">
        <label for="productName" class="form-label">Tên hàng:</label>
        <input type="text" id="productName" name="productName" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="productExpiredAt" class="form-label">Hạng dùng:</label>
        <input type="date" id="productExpiredAt" name="productExpiredAt" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="productCompany">Công ty sản xuất:</label>
        <input type="text" id="productCompany" name="productCompany" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="productProductionDate">Ngày sản xuất:</label>
        <input type="date" id="productProductionDate" name="productProductionDate" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="productCategory">Loại hàng:</label>
        <select id="productCategory" name="productCategory" class="form-control">
            <option value="volvo">Vui lòng chọn ...</option>
            @foreach (var cat in categories)
            {
                <option value="@cat.categoryCode">@cat.categoryName</option>
            }
        </select>
    </div>
    <div class="col-md-6">
        <label for="productPrice">Giá:</label>
        <input type="number" id="productPrice" name="productPrice" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="productQuantity">Số lượng mặt hàng:</label>
        <input type="number" id="productQuantity" name="productQuantity" class="form-control">
    </div>

    <div class="mt-3 col-md-12">
        <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
</form>