@{
    ViewData["Title"] = "Thêm mặt hàng";
}
<h1>@ViewData["Title"]</h1>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <form method="post" action="CreateProduct">
        <label for="productName">Tên hàng: </label><br>
        <input type="text" id="productName" name="productName"><br>

        <label for="productExpiredAt">Hạn dùng:</label><br>
        <input type="date" id="productExpiredAt" name="productExpiredAt"><br>

        <label for="productCompany">Công ty sản xuất:</label><br>
        <input type="text" id="productCompany" name="productCompany"><br>

        <label for="productProductionDate">Ngày sản xuất:</label><br>
        <input type="date" id="productProductionDate" name="productProductionDate"><br>

        <label for="productCategory">Loại hàng:</label><br>
        <input type="text" id="productCategory" name="productCategory"><br>

        <label for="productPrice">Giá:</label><br>
        <input type="number" id="productPrice" name="productPrice"><br>
        
        <label for="productQuantity"> Số lượng mặt hàng</label><br>
        <input type="number" id="productQuantity" name="productQuantity" /><br><br>

        <input type="submit" value="Thêm">
    </form>
</div>